Schnittstellenbeschreibungen/Sonstige/ElsterDatenabholung_17/Schema/datenabholung_17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schemaversion 11 aus dem Downloadpaket ElsterDatenabholung Version 17.0.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:datenabholung="http://finkonsens.de/elster/elsterdatenabholung/v2" targetNamespace="http://finkonsens.de/elster/elsterdatenabholung/v2" elementFormDefault="qualified" >
	<xs:element name="Datenabholung">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element name="Fingerprint" type="datenabholung:FingerprintCType"/>
					<xs:element name="Abholzertifikat" type="datenabholung:base64CType"/>
				</xs:choice>
				<xs:choice>
					<xs:element name="Anfrage" type="datenabholung:AnfrageCType"/>
					<xs:element name="Abholung" type="datenabholung:AbholungCType"/>
					<xs:element name="Empfangsbestaetigung" type="datenabholung:EmpfangsbestaetigungCType"/>
					<xs:element name="Statusabfrage" type="datenabholung:StatusabfrageRequestCType"/>
					<xs:element name="Bereitstellungen" type="datenabholung:StatusabfrageResponseCType"/>
					<xs:element name="PostfachStatus" type="datenabholung:PostfachStatusRequestCType"/>
					<xs:element name="PostfachStatusAntwort" type="datenabholung:PostfachStatusAntwortResponseCType"/>
					<xs:element name="PostfachAnfrage" type="datenabholung:PostfachAnfrageRequestCType"/>
					<xs:element name="PostfachAnfrageAntwort" type="datenabholung:PostfachAnfrageAntwortResponseCType"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FingerprintCType">
		<xs:simpleContent>
			<xs:extension base="datenabholung:base64CType">
				<xs:attribute name="name" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="1"/>
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="base64CType">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnfrageCType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Id" type="datenabholung:AntwortIdCType"/>
		</xs:sequence>
		<xs:attribute name="einschraenkung" default="alle">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neue"/>
					<xs:enumeration value="alle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="von" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="bis" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="veranlagungsjahr" type="xs:gYear"/>
		<xs:attribute name="steuerart" type="datenabholung:ElsterStringCType"/>
		<xs:attribute name="finanzamt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1000"/>
					<xs:maxExclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="bundesland">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BW"/>
					<xs:enumeration value="BY"/>
					<xs:enumeration value="BE"/>
					<xs:enumeration value="BB"/>
					<xs:enumeration value="HB"/>
					<xs:enumeration value="HH"/>
					<xs:enumeration value="HE"/>
					<xs:enumeration value="MV"/>
					<xs:enumeration value="ND"/>
					<xs:enumeration value="NI"/>
					<xs:enumeration value="NW"/>
					<xs:enumeration value="RP"/>
					<xs:enumeration value="SL"/>
					<xs:enumeration value="SN"/>
					<xs:enumeration value="ST"/>
					<xs:enumeration value="SH"/>
					<xs:enumeration value="TH"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="max" default="100">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="10000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="anforderungsticket" type="datenabholung:ElsterStringCType"/>
		<xs:attribute name="agstnr" type="datenabholung:ElsterStringCType"/>
		<xs:attribute name="schemaversion" type="datenabholung:ElsterIntegerCType"/>
		<xs:attribute name="lieferticket" type="xs:string"/>
		<xs:attribute name="idnr" type="datenabholung:IdNrSType"/>
		<xs:attribute name="belegart" type="datenabholung:ElsterStringWithUnderscoreCType"/>
		<xs:attribute name="geschaeftszeichen" type="datenabholung:String60Type"/>
	</xs:complexType>
	<xs:complexType name="AntwortIdCType">
		<xs:sequence minOccurs="0">
			<xs:element name="MetaInformationen" type="datenabholung:MetaInformationenCType">
				<xs:unique name="id-meta-name-uniqueness">
					<xs:selector xpath="./datenabholung:Meta"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="datenabholung:ETIDCType" use="required"/>
		<xs:attribute name="groesse" type="xs:integer" use="required"/>
		<xs:attribute name="steuerart" type="xs:string"/>
		<xs:attribute name="belegart" type="xs:string"/>
		<xs:attribute name="schemaversion" type="xs:string"/>
		<xs:attribute name="hashwert" type="xs:string"/>
		<xs:attribute name="bereitstellungsticket" type="datenabholung:ElsterStringCType"/>
	</xs:complexType>
	<xs:complexType name="AbholungCType">
		<xs:sequence>
			<xs:element name="MetaInformationen" type="datenabholung:MetaInformationenCType" minOccurs="0">
				<xs:unique name="abholung-meta-name-uniqueness">
					<xs:selector xpath="./datenabholung:Meta"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="Datenpaket" type="xs:string"/>
				<xs:element name="Download">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="Url" type="xs:string"/>
							<xs:element name="Benutzer" type="xs:string"/>
							<xs:element name="Passwort" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="Anhaenge" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="Anhang">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Dateibezeichnung" type="xs:string"/>
									<xs:element name="Dateityp" type="xs:string"/>
									<xs:element name="Dateiinhalt" type="xs:string"/>
									<xs:element name="MetadatenAnhang" type="datenabholung:MetadatenAnhangCType" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>							
					</xs:sequence>
					<xs:attribute name="version" type="xs:integer" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="datenabholung:ETIDCType" use="required"/>
		<xs:attribute name="steuerart" type="xs:string"/>
		<xs:attribute name="idnr" type="datenabholung:IdNrSType"/>
		<xs:attribute name="veranlagungsjahr" type="xs:gYear"/>
		<xs:attribute name="uebertragungsweg">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="direkt"/>
					<xs:enumeration value="link"/>
					<xs:enumeration value="sammellink"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="encoding" type="datenabholung:ElsterStringWithHyphenCType"/>
		<xs:attribute name="bereitstellungsticket" type="datenabholung:ElsterStringCType"/>
	</xs:complexType>
	 <xs:complexType name="MetadatenAnhangCType">
        <xs:sequence>
            <xs:element name="MetadatumAnhang" type="datenabholung:MetadatumAnhangCType" minOccurs="0" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetadatumAnhangCType">
        <xs:sequence>
            <xs:element name="SchluesselAnhang" type="datenabholung:StringMinL1MaxL50SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WertAnhang" type="datenabholung:StringMinL1MaxL100SType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;-&#xa5;&#xa7;-&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;-&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;-&#x178;&#x17d;-&#x17e;&#x20ac;-&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="StringMinL1MaxL50SType">
        <xs:restriction base="datenabholung:StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringMinL1MaxL100SType">
        <xs:restriction base="datenabholung:StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="EmpfangsbestaetigungCType">
		<xs:attribute name="id" type="datenabholung:ElsterStringCType" use="required"/>
		<xs:attribute name="idnr" type="datenabholung:IdNrSType"/>
		<xs:attribute name="veranlagungsjahr" type="xs:gYear"/>
	</xs:complexType>
	<xs:complexType name="StatusabfrageRequestCType">
		<xs:annotation>
			<xs:documentation>Request der Statusabfrage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="BereitstellungsTickets">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="BereitstellungsTicket" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BekanntgabeVorgangsIds">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="BekanntgabeVorgangsId" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="rolle" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="empfaenger"/>
					<xs:enumeration value="sender"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StatusabfrageResponseCType">
		<xs:annotation>
			<xs:documentation>Response der Statusabfrage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bereitstellung" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BereitstellungsTicket" type="xs:string" minOccurs="0"/>
						<xs:element name="Status" type="xs:string"/>
						<xs:element name="BekanntgabeVorgangsId" type="xs:string" minOccurs="0"/>
						<xs:element name="EMailVersandZeitpunkt" type="datenabholung:ElsterDateTimeCType" minOccurs="0"/>
						<xs:element name="AbrufZeitpunkt" type="datenabholung:ElsterDateTimeCType" minOccurs="0"/>
						<xs:element name="LoeschZeitpunkt" type="datenabholung:ElsterDateTimeCType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PostfachStatusRequestCType">
		<xs:annotation>
			<xs:documentation>Request der PostfachStatus</xs:documentation>
		</xs:annotation>
		<xs:attribute name="von" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="bis" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="einschraenkung" default="alle">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neue"/>
					<xs:enumeration value="alle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="PostfachStatusAntwortResponseCType">
		<xs:annotation>
			<xs:documentation>Response des PostfachStatus</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Datengruppe" type="datenabholung:DatengruppeCType"/>
		</xs:sequence>
		<xs:attribute name="von" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="bis" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="einschraenkung" default="alle">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neue"/>
					<xs:enumeration value="alle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="DatengruppeCType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Steuerart" type="datenabholung:SteuerartCType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SteuerartCType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="anzahltreffer" type="xs:integer" use="required"/>
	</xs:complexType>	
	<xs:complexType name="PostfachAnfrageRequestCType">
		<xs:annotation>
			<xs:documentation>Request der PostfachAnfrage</xs:documentation>
		</xs:annotation>
		<xs:attribute name="von" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="bis" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="einschraenkung" default="alle">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neue"/>
					<xs:enumeration value="alle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="max">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="10000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="PostfachAnfrageAntwortResponseCType">
		<xs:annotation>
			<xs:documentation>Response des PostfachAnfrage</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Datengruppe" type="datenabholung:DatengruppeAnfrageCType"/>
		</xs:sequence>
		<xs:attribute name="von" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="bis" type="datenabholung:ElsterDateCType"/>
		<xs:attribute name="einschraenkung" default="alle">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="neue"/>
					<xs:enumeration value="alle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="max">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="10000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
		
	<xs:complexType name="DatengruppeAnfrageCType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Steuerart" type="datenabholung:SteuerartAnfrageCType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SteuerartAnfrageCType">
		<xs:sequence>
			<xs:element name="Bereitstellungen" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bereitstellung" type= "datenabholung:BereitstellungAnfrageCType" minOccurs="1" maxOccurs="unbounded">
								
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="anzahltreffer" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="BereitstellungAnfrageCType" >
		<xs:sequence minOccurs="0">
			<xs:element name="MetaInformationen" type="datenabholung:MetaInformationenCType">
				<xs:unique name="id-meta-postfach-anfrage-name-uniqueness">
					<xs:selector xpath="./datenabholung:Meta"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="datenabholung:ETIDCType" use="required"/>
		<xs:attribute name="groesse" type="xs:integer" use="required"/>
		<xs:attribute name="bereitstellungsticket" type="datenabholung:ElsterStringCType"/>		
	</xs:complexType>	
	<xs:complexType name="MetaInformationenCType" mixed="true">
		<xs:sequence minOccurs="0" >
			<xs:element name="Meta" type="datenabholung:MetaCType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaInfoMaps" type="datenabholung:MetaInfoMapsCType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetaInfoMapsCType">
		<xs:sequence>
			<xs:element name="MetaInfoMap" type="datenabholung:MetaInfoMapCType" maxOccurs="unbounded">
				<xs:unique name="metainfomap-meta-name-uniqueness">
					<xs:selector xpath="./datenabholung:Meta"/>
					<xs:field xpath="@name"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetaInfoMapCType">
		<xs:sequence>
			<xs:element name="Meta" type="datenabholung:MetaCType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="typ" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z0-9]+"/>
					<xs:maxLength value="32"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
	<xs:complexType name="MetaCType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" use="required" form="unqualified">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[a-zA-Z0-9]+"/>
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="coding" default="text">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="text"/>
							<xs:enumeration value="base64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ElsterDateCType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">JJJJMMDD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}((0[1-9])|(1[0-2]))((3[0-1])|(2[0-9])|(1[0-9])|(0[1-9]))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElsterDateTimeCType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">JJJJMMDDHHMMSS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}(0?[1-9]|1[0-2])(0?[1-9]|[12][0-9]|3[01])(0?[0-9]|1[0-9]|2[0-3])([0-9]|[0-5][0-9]){2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ETIDCType">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
			<xs:pattern value="[0-9a-km-z]{2}[0-9]{3}[0-9a-km-z]{27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdNrSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElsterStringCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String60Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElsterStringWithUnderscoreCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z_]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElsterIntegerCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+-]{0,1}[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElsterStringWithHyphenCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
